* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;

}
.site-title {
    font-size: 2rem;
}
.nav a {
    color: inherit;
    columns: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}


.nav li:hover {
    background-color: #777;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

 h2 {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: black;
    margin: 10px;
 }

.table-container {
    max-height: 790px;
    overflow-y: auto;
}
.userTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.0rem;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    min-width: 50%;
    border-radius: 5px 5px 0 0;
    table-layout: fixed;
    overflow-y: auto;
    max-height: 200px;
}

 .userTable thead tr {
     background-color: #009879;
     color: #ffffff;
     text-align: left;
     font-weight: bold;
 }

 .userTable th,
 .userTable td {
     padding: 12px 15px;
     outline: 4px solid #dddddd;
 }

 .userTable tbody tr {
     border-bottom: 1px solid #dddddd;
 }

 .userTable tbody tr:nth-of-type(even) {
     background-color: #f3f3f3;
 }

 .userTable tbody tr:last-of-type {
     border-bottom: 2px solid #009879;
 }

 footer{
    background-color: #009879;
    color: white;
    text-align: center;
    width: 100vw;
    position: fixed;
    bottom: 0;}

 .formButton {
    background-color: #009879;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
 }

